.animated {
  box-sizing: border-box;
  position: var(--animated-pos, relative);
  display: var(--animated-dsp);
  flex-wrap: var(--animated-wrap);
  justify-content: var(--animated-justify);
  align-items: var(--animated-items);
  align-content: var(--animated-content);
  flex-direction: var(--animated-direct);
  z-index: var(--animated-z);
  gap: var(--animated-gap);
  height: var(--animated-h);
  width: var(--animated-w, 100%);
  max-height: var(--animated-max-h);
  max-width: var(--animated-max-w);
  min-height: var(--animated-min-h);
  min-width: var(--animated-min-w);
  padding: var(--animated-p);
  margin: var(--animated-m);
  padding-block-start: var(--animated-py, var(--animated-pt));
  padding-block-end: var(--animated-py, var(--animated-pb));
  padding-inline-start: var(--animated-px, var(--animated-pl));
  padding-inline-end: var(--animated-px, var(--animated-pr));
  margin-block-start: var(--animated-my, var(--animated-mt));
  margin-block-end: var(--animated-my, var(--animated-mb));
  margin-inline-start: var(--animated-mx, var(--animated-ml));
  margin-inline-end: var(--animated-mx, var(--animated-mr));
  border-radius: var(--animated-rd);
  cursor: var(--animated-csr, auto);
  color: var(--animated-c, inherit);
  background: var(--animated-bg);
  border: var(--animated-bd);
  overflow: var(--animated-overfl);
  backdrop-filter: var(--animated-bd-filter);
  font-family: var(--animated-ff, var(--animated-ff-default));
  font-size: var(--animated-fz, inherit);
  font-weight: var(--animated-fw, normal);
  line-height: var(--animated-lh, var(--animated-lh-default));
  text-transform: var(--animated-tt);
  text-align: var(--animated-ta, inherit);
  text-decoration: var(--animated-td, none);
  letter-spacing: var(--animated-lts, normal);
  -webkit-tap-highlight-color: transparent;

  @mixin hover {
    color: var(--animated-hover-c, var(--animated-c));
    background: var(--animated-hover-bg, var(--animated-bg));
    border-color: var(--animated-hover-bd, var(--animated-bd-c));
  }
  &:active {
    --_iroot-clicked: translateY(0.35px);
    transform: var(--animated-clicked, none);
  }
}

.wrapperShine {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.transformBF {
  transition: var(--transform-transition);
  transition-delay: var(--transform-delay);
  transform-origin: var(--transform-origin);
  opacity: var(--transform-opacity-bf);
  transform: var(--transform-before);
}

.transformAF {
  opacity: var(--transform-opacity-af);
  transform: var(--transform-after);
}

.skewcardhover {
  --animated-bg-skewcardhover: var(--animated-bg, var(--animated-bg-skewcardhover-default));
  --animated-bd-skewcardhover-default: light-dark(1px solid #30363d45, 1px solid #30363d65);
  --animated-bg-skewcardhover-default: light-dark(#c1c2c330, #202124);
  --animated-rd-skewcardhover-default: 16px;

  background: var(--animated-bg-skewcardhover);
  border: var(--animated-bd, var(--animated-bd-skewcardhover-default));
  border-radius: var(--animated-rd, var(--animated-rd-skewcardhover-default));

  @mixin hover {
    color: var(--animated-hover-c, var(--animated-c));
    background: var(--animated-hover-bg, var(--animated-bg-skewcardhover));
    border: var(--animated-bd, var(--animated-bd-skewcardhover-default));
  }
}

.popoverroot {
  position: relative;
}

.popovertrigger {
  position: var(--animated-pos, relative);
  cursor: var(--animated-csr, var(--animated-csr-default));
  user-select: none;
}

.popoverroot,
.popovertrigger,
.popoverdropdown {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.popoverroot,
.popovertrigger,
.popoverbody,
.popoverArrow {
  --bg-pop-over-arrow: var(--po-bg, var(--_bg-pop-over-arrow));
  --_bg-pop-over-arrow: light-dark(#dbdbdb, #424242);
  --p-o-placemen-offset: var(--po-plc-offs, var(--_placement-offset-default));
  --_placement-offset-default: var(--size-arrow, 10px);

  --p-o-placement-auto: auto;

  --p-o-placement-axis: 0;
  --arrow-offs: 12;
  --po-arrow-offset-t: calc(var(--arrow-of-t, var(--arrow-offs)) * 1px / 2);
  --po-arrow-offset-r: calc(var(--arrow-of-r, var(--arrow-offs)) * 1px);
  --po-arrow-offset-b: calc(var(--arrow-of-b, var(--arrow-offs)) * 1px / 2);
  --po-arrow-offset-l: calc(var(--arrow-of-l, var(--arrow-offs)) * 1px);

  --po-handle-sz-arrow-t: calc(calc(var(--size-arrow) * -1) + var(--po-arrow-offset-t));
  --po-handle-sz-arrow-b: calc(calc(var(--size-arrow) * -1) + var(--po-arrow-offset-b));

  & .popoverhead {
    &::after {
      pointer-events: none;
    }
  }
  &[data-popover-open] {
    & .popoverhead {
      &::after {
        pointer-events: auto;
      }
    }
  }

  &[data-variant='tooltip'] {
    --animated-csr-default: auto;
    & .popoverbody {
      --po-fz-vr-tooltip: 12px;
      --po-sz-vr-tooltip: 5px;
      --size-arrow: var(--po-sz-arrow, 6px);
      --po-bg-default: var(--bg-popoverArrow, var(--bg-pop-over-arrow));

      font-weight: var(--animated-fw, 600);
      background: var(--po-bg, var(--po-bg-default));
      font-size: var(--po-fz, var(--po-fz-vr-tooltip));
      border-radius: calc(var(--po-sz-vr-tooltip) * 1.5);
      padding-block: calc(var(--po-sz-vr-tooltip) / 2);
      padding-inline: calc(var(--po-sz-vr-tooltip) * 2);
    }
  }

  &[data-variant='unstyled'] {
    --animated-csr-default: pointer;
    & .popoverbody {
      --size-arrow: var(--po-sz-arrow, 8px);
    }
  }

  &[data-placement='top'],
  &[data-placement='top-start'],
  &[data-placement='top-end'] {
    &[data-popover-open] {
      & .popoverhead {
        &::after {
          content: var(--po-plc-cntn);
          position: absolute;
          height: calc(var(--p-o-placemen-offset) * 1.1);
          width: calc(100% * 1);
          top: calc(var(--p-o-placemen-offset) * -1.1);
          left: 0;
        }
      }
    }
  }

  &[data-placement='right'],
  &[data-placement='right-start'],
  &[data-placement='right-end'] {
    &[data-popover-open] {
      & .popoverhead {
        &::after {
          content: var(--po-plc-cntn);
          position: absolute;
          height: calc(100% * 1);
          width: calc(var(--p-o-placemen-offset) * 1.1);
          right: calc(var(--p-o-placemen-offset) * -1.1);
          top: 0;
        }
      }
    }
  }

  &[data-placement='bottom'],
  &[data-placement='bottom-start'],
  &[data-placement='bottom-end'] {
    &[data-popover-open] {
      & .popoverhead {
        &::after {
          content: var(--po-plc-cntn);
          position: absolute;
          height: calc(var(--p-o-placemen-offset) * 1.1);
          width: calc(100% * 1);
          bottom: calc(var(--p-o-placemen-offset) * -1.1);
          left: 0;
        }
      }
    }
  }

  &[data-placement='left'],
  &[data-placement='left-start'],
  &[data-placement='left-end'] {
    &[data-popover-open] {
      & .popoverhead {
        &::after {
          content: var(--po-plc-cntn);
          position: absolute;
          height: calc(100% * 1);
          width: calc(var(--p-o-placemen-offset) * 1.1);
          left: calc(var(--p-o-placemen-offset) * -1.1);
          top: 0;
        }
      }
    }
  }

  &[data-placement='top'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--p-o-placement-auto));
      right: var(--po-handle-r, var(--p-o-placement-auto));
      bottom: calc(100% + var(--p-o-placemen-offset));
      left: var(--po-handle-l, var(--p-o-placement-auto));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        height: calc(var(--size-arrow) / 2);
        width: calc(var(--size-arrow) * 1);
        top: calc(var(--arrow-of-t) * 1px);
        right: calc(var(--arrow-of-r, auto) * 1px);
        bottom: calc(var(--size-arrow) * -2);
        left: calc(var(--arrow-of-l, auto) * 1px);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-top-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='top-start'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--p-o-placement-auto));
      right: var(--po-handle-r, var(--p-o-placement-auto));
      bottom: calc(100% + var(--p-o-placemen-offset));
      left: var(--po-handle-l, var(--p-o-placement-axis));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        height: calc(var(--size-arrow) / 2);
        width: calc(var(--size-arrow) * 1);
        top: calc(var(--arrow-of-t) * 1px);
        right: calc(var(--arrow-of-r) * 1px);
        bottom: calc(var(--size-arrow) * -2);
        left: var(--po-arrow-offset-l);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-top-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='top-end'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--p-o-placement-auto));
      right: var(--po-handle-r, var(--p-o-placement-axis));
      bottom: calc(100% + var(--p-o-placemen-offset));
      left: var(--po-handle-l, var(--p-o-placement-auto));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        height: calc(var(--size-arrow) / 2);
        width: calc(var(--size-arrow) * 1);
        top: calc(var(--arrow-of-t) * 1px);
        right: var(--po-arrow-offset-r);
        bottom: calc(var(--size-arrow) * -2);
        left: calc(var(--arrow-of-l) * 1px);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-top-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='right'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--p-o-placement-auto));
      right: var(--po-handle-r, var(--p-o-placement-auto));
      bottom: var(--po-handle-b, var(--p-o-placement-auto));
      left: calc(100% + var(--p-o-placemen-offset));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        width: calc(var(--size-arrow) / 2);
        height: calc(var(--size-arrow) * 1);
        top: calc(var(--arrow-of-t, auto) * 1px);
        right: calc(var(--arrow-of-r) * 1px);
        bottom: calc(var(--arrow-of-b, auto) * 1px);
        left: calc(var(--size-arrow) * -2);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-right-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='right-start'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--po-handle-sz-arrow-t));
      right: var(--po-handle-r, var(--p-o-placement-auto));
      bottom: var(--po-handle-b, var(--p-o-placement-auto));
      left: calc(100% + var(--p-o-placemen-offset));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        width: calc(var(--size-arrow) / 2);
        height: calc(var(--size-arrow) * 1);
        top: var(--po-arrow-offset-t);
        right: calc(var(--arrow-of-r) * 1px);
        bottom: calc(var(--arrow-of-b) * 1px);
        left: calc(var(--size-arrow) * -2);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-right-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='right-end'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--p-o-placement-auto));
      right: var(--po-handle-r, var(--p-o-placement-auto));
      bottom: var(--po-handle-b, var(--po-handle-sz-arrow-b));
      left: calc(100% + var(--p-o-placemen-offset));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        width: calc(var(--size-arrow) / 2);
        height: calc(var(--size-arrow) * 1);
        top: calc(var(--arrow-of-t) * 1px);
        right: calc(var(--arrow-of-r) * 1px);
        bottom: var(--po-arrow-offset-b);
        left: calc(var(--size-arrow) * -2);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-right-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='bottom'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: calc(100% + var(--p-o-placemen-offset));
      right: var(--po-handle-r, var(--p-o-placement-auto));
      bottom: var(--po-handle-b, var(--p-o-placement-auto));
      left: var(--po-handle-l, var(--p-o-placement-auto));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        height: calc(var(--size-arrow) / 2);
        width: calc(var(--size-arrow) * 1);
        top: calc(var(--size-arrow) * -2);
        right: calc(var(--arrow-of-r, auto) * 1px);
        bottom: calc(var(--arrow-of-b) * 1px);
        left: calc(var(--arrow-of-l, auto) * 1px);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-bottom-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='bottom-start'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: calc(100% + var(--p-o-placemen-offset));
      right: var(--po-handle-r, var(--p-o-placement-auto));
      bottom: var(--po-handle-b, var(--p-o-placement-auto));
      left: var(--po-handle-l, var(--p-o-placement-axis));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        height: calc(var(--size-arrow) / 2);
        width: calc(var(--size-arrow) * 1);
        top: calc(var(--size-arrow) * -2);
        right: calc(var(--arrow-of-r) * 1px);
        bottom: calc(var(--arrow-of-b) * 1px);
        left: var(--po-arrow-offset-l);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-bottom-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='bottom-end'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: calc(100% + var(--p-o-placemen-offset));
      right: var(--po-handle-r, var(--p-o-placement-axis));
      bottom: var(--po-handle-b, var(--p-o-placement-auto));
      left: var(--po-handle-l, var(--p-o-placement-auto));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        height: calc(var(--size-arrow) / 2);
        width: calc(var(--size-arrow) * 1);
        top: calc(var(--size-arrow) * -2);
        right: var(--po-arrow-offset-r);
        bottom: calc(var(--arrow-of-b) * 1px);
        left: calc(var(--arrow-of-l) * 1px);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-bottom-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='left'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--p-o-placement-auto));
      right: calc(100% + var(--p-o-placemen-offset));
      bottom: var(--po-handle-b, var(--p-o-placement-auto));
      left: var(--po-handle-l, var(--p-o-placement-auto));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        width: calc(var(--size-arrow) / 2);
        height: calc(var(--size-arrow) * 1);
        top: calc(var(--arrow-of-t, auto) * 1px);
        right: calc(var(--size-arrow) * -2);
        bottom: calc(var(--arrow-of-b, auto) * 1px);
        left: calc(var(--arrow-of-l) * 1px);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-left-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='left-start'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--po-handle-sz-arrow-t));
      right: calc(100% + var(--p-o-placemen-offset));
      bottom: var(--po-handle-b, var(--p-o-placement-auto));
      left: var(--po-handle-l, var(--p-o-placement-auto));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        width: calc(var(--size-arrow) / 2);
        height: calc(var(--size-arrow) * 1);
        top: var(--po-arrow-offset-t);
        right: calc(var(--size-arrow) * -2);
        bottom: calc(var(--arrow-of-b) * 1px);
        left: calc(var(--arrow-of-l) * 1px);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-left-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }

  &[data-placement='left-end'] {
    & .popoverbody {
      position: absolute;
      max-height: 100vh;
      z-index: 9999;
      top: var(--po-handle-t, var(--p-o-placement-auto));
      right: calc(100% + var(--p-o-placemen-offset));
      bottom: var(--po-handle-b, var(--po-handle-sz-arrow-b));
      left: var(--po-handle-l, var(--p-o-placement-auto));
    }

    & .popoverArrow {
      &::before {
        content: '';
        position: absolute;
        width: calc(var(--size-arrow) / 2);
        height: calc(var(--size-arrow) * 1);
        top: calc(var(--arrow-of-t) * 1px);
        right: calc(var(--size-arrow) * -2);
        bottom: var(--po-arrow-offset-b);
        left: calc(var(--arrow-of-l) * 1px);
        border-width: calc(var(--size-arrow) * 1);
        border-style: solid;
        border-color: transparent;
        border-left-color: var(--bg-popoverArrow, var(--bg-pop-over-arrow));
      }
    }
  }
}
