/* OpenCloseButton Styles */
.root {
  --oc-xs: 12px;
  --oc-sm: 18px;
  --oc-md: 24px;
  --oc-lg: 34px;
  --oc-xl: 42px;
  --oc-xxl: 68px;
  --oc-xxxl: 92px;

  --oc-rd-xs: 4px;
  --oc-rd-sm: 6px;
  --oc-rd-md: 8px;
  --oc-rd-lg: 10px;
  --oc-rd-xl: 12px;
  --oc-rd-xxl: 16px;
  --oc-rd-xxxl: 22px;

  --_oc-bd: 1px solid var(--oc-bd-c);
  --oc-p-default: calc((var(--oc-h, 18px) / 3) / 3);
  --oc-bg-default: transparent;
  --oc-transition-default: all 0.5s ease;

  @mixin light {
    --oc-bd-c: #c1c2c5;
    --oc-color-default: #868e96;
  }

  @mixin dark {
    --oc-bd-c: #373a40;
    --oc-color-default: #c1c2c5;
  }
}

.openclose {
  touch-action: manipulation;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--oc-rd);
  border: var(--oc-bd);
  height: calc(var(--oc-h) + 10px);
  width: var(--oc-with-label, calc(var(--oc-w) + 10px));
  cursor: var(--oc-csr);
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  overflow: hidden;
  background: var(--oc-bg);
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding: var(--oc-p, var(--oc-p-default));
  margin: var(--oc-m);
  color: var(--oc-c);
  min-height: var(--oc-min-h);
  min-width: var(--oc-min-w);
  max-height: var(--oc-max-h);
  max-width: var(--oc-max-w);
  top: var(--oc-t);
  right: var(--oc-r);
  bottom: var(--oc-b);
  left: var(--oc-l);

  @mixin hover {
    color: var(--oc-hover-c, var(--oc-c));
    background: var(--oc-hover-bg, var(--oc-bg));
    border-color: var(--oc-hover-bd, var(--oc-bd-c));
  }

  &[data-left-label] {
    --oc-with-label: auto;
  }

  &[data-right-label] {
    --oc-with-label: auto;
  }

  &[data-clicked] {
    --_oc-clicked: translateY(0.35px);
    &:active {
      box-shadow: none;
      transform: var(--oc-clicked, none);
    }
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.inner {
  width: calc(var(--oc-h) + 10px);
  height: calc(var(--oc-w) + 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 0;
}

.label {
  width: auto;
  height: var(--oc-h);
  margin-inline: calc((var(--oc-h, 18px) / 3) / 2);
  overflow: hidden;
  display: flex;
  line-height: inherit;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: var(--oc-ff, inherit);
  font-size: var(--oc-fz);
  line-height: var(--oc-lh);
  font-weight: var(--oc-fw, 500);
}

.root,
.inner {
  &[data-type-openclose='dots'] {
    & .inner circle {
      color: var(--oc-c);
      transition: var(--oc-transition);
    }
  }
}

.plusX,
.barX {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: var(--oc-transition);
}

.plusXPath {
  position: absolute;
  transition: var(--oc-transition);
}

.plusX1,
.plusX2,
.barXSVG {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: var(--oc-transition);
}

.barXPath {
  transition: var(--oc-transition);
}
